.YouLike {
    margin-top: 112px;
    h2 {
        font-size: 16px;
        font-weight: 400;
    }
    .CardContainer {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }
}