@import '../../styles/global.scss';
.Card {
    width: 100%;
    display: none;
    padding:15px;
    box-shadow: 0px 2px 4px 0px #00000012;
    position:relative;
    @include mobile {
        display: flex;
        gap:8px;
        flex-direction: column;
    }
    .amount {
        border: 1px solid #E6E6E6;
        border-radius: 7px;
        padding:4px 10px;
    }
    .img_container {
        display: flex;
        align-items: center;
    }
    img {
        width: 67px;
        height: 50px;
    }
   
.MOBILE {
    display: flex;
    gap: 15px;
}
            .maininfo {
                display: flex;
                flex-direction: column;
                gap:8px;
                justify-content: center;
                h2 {
                    font-size: 12px;
                    font-weight: 400;
                }
                .price {
                    
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p {
                        font-size: 12px;
                        font-weight: 500;
                    }
                  
                  
                    .oldPrice {
                        color: #CCCCCC;
                        font-size: 12px;
                        text-decoration-line: line-through;
                    }
                }
            }
            .type {
                display: flex;
                gap: 15px;
                p {
                    font-size: 12px;
                }
              
            }
    
    button {
        cursor: pointer;
        
       background: transparent;
        border: none;
        position:absolute;
        top:0;
        right: 0;
        .cross {
            font-size: 15px;
            color: #C9C9C9;
        }
    }
    .sizes {
        display: flex;
        gap: 10px;
        .sizeValue {
            
                color: #9E9E9E;
            
        }
    }
}