@import '../../../styles/global.scss';
.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative ;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        z-index: 4;
        @include mobile {
            flex-direction: column-reverse;
            align-items:flex-start;
            gap:25px;
        }
    }
    img {
        width: 633px;
        height: 339px;
        @include mobile {
            width: 216px;
            height: 127px;
        }
    }
    .bluesquare {
        height: 500px;
        width: 35%;
        background-color: #D7E8ED;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @include mobile {
            height: 152px;
            width:60%;
        }
        
    }
    .img_container {

    }
    .aboutShop {
        width: 31%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @include mobile {
            gap:5px;
            padding-left:10px;
            width:95%;;
            align-items:center;
            justify-content:center;
        }
        .title {
            font-size:12px;
            color:#245462;
        }
        h1 {
            font-size: 24px;
            @include mobile {
                font-size: 18px;
                font-weight: 400;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
            p {
                color : #686868;
                @include mobile {
                    font-size: 12px;
                }
            }
        }
    }
}