@import '../../styles/global.scss';
.quanity {
    display:flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
  
    h3 {
        font-size: 16px;
        font-weight: 400;
    }
   
}
.order {
    display:flex;
    gap:20px;
    align-items:center;
    justify-content : flex-end;
    @include mobile {
        flex-direction: column;
        gap:30px;
        align-items: center;
        margin-top: 30px;
    }
    div {
        display:flex;
        align-items: center;
        gap:15px;
     
    }
    button {
        padding : 13px 50px;
        font-size : 13px;
        color:white;
        border:none;
        background : #245462;
        cursor:pointer;
    }
}
.mobile {
    display:flex;
    flex-direction: column;
    gap:10px;
}