@import './global.scss';
.container {
    margin-top: 35px;
    display: flex;
   
    flex-wrap: wrap;
    gap: 30px;
}
.catalog {
    align-items: flex-start;
    justify-content:flex-start;
    margin-top: 30px;
    display:flex;
   gap:30px;
   .filters {
    display:flex;
    flex-direction:column;
    gap:20px;
    padding: 20px;
    @include mobile {
        display:none;
    }
    box-shadow: 0px 2px 4px 0px #00000012;
    h2 {
        font-size: 14px;
        font-weight: 400;
    }
    .selects {
        margin-top: 20px;
        display:flex;
        flex-direction:column;
        gap:10px;
        select {
            padding:7px 10px 7px 10px;
            width:250px;
            background : #F8F8F8;
            border:none;
           
        }
    }
    .price {
       .price_container {
        display:flex;
        gap:12px;
        align-items:center;
        div {
            width:90px;
            height:30px;
            background: #F8F8F8;
            border-radius: 3px;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        hr {
            width:19px;
            height:2px;
            background:black;
        }
       }
    }
   }
   .goodsList {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:5px;
    .sortContainer {
        display:flex;
        flex-direction:row-reverse;
        width:100%;
        gap:50px;
        align-items:center;
        .mobileFilterButton {
            display:none;
           button {
            padding:13px 48px;
            border:none;
            cursor:pointer;
            font-size:12px;
            color:black;
            background:#F9F9F9;
            
           
           }
           @include mobile {
            display:block;
         }
        }
    }
    .sort {
        display:flex;
        gap:11px;
        cursor:pointer;
        img {
            width:18px;
            height:11px;
        }
    }
    .parent {
        position:relative;
        width:165px;
        height:0.5px;
        .absolute {
            position:absolute;
            z-index:99999;
            box-shadow: 0px 2px 4px 0px #00000012;
            background:white;
            padding:20px;
            display:flex;
            flex-direction:column;
            gap:20px;
            cursor:pointer;
            p {
                font-size:11px;
            }
        }
    }
   }
}
.mobileFiltersContainer {
    display:none;
    position:absolute;
    top:0;
    width:100vw;
    height:120%;
    background:white;
    display:flex;
    flex-direction:column;
    padding:23px 13px;
    .mobileFiltersTitle {
        display:flex;
        justify-content:center;
        gap:110px;
        position:relative;
        width:100%;
        .closeIcon {
            position:absolute;
            top:0;
            right:0;
        }
    }
    @include mobile {
        display:flex;
        }
}
.mobileFilters {
    
    flex-direction:column;
    gap:20px;
    margin-top:65px;
    display:flex;
    
   
    h2 {
        font-size: 14px;
        font-weight: 400;
    }
    .selects {
        
        display:flex;
        flex-direction:column;
        gap:10px;
        select {
            padding:7px 10px 7px 10px;
            width:100%;
            background : #F8F8F8;
            border:none;
           
        }
    }
   
   }
    .MobilePrice {
    margin-top:28px ;
    h2 {
        font-size:14px;
        font-weight:400;
    }
   .price_container {
    display:flex;
    
    align-items:center;
    justify-content:space-between;
    div {
        width:90px;
        height:30px;
        background: #F8F8F8;
        border-radius: 3px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    hr {
        width:15px;
        height:2px;
        background:black;
    }
   }
}